{% extends 'base.html' %}

{% block title %}
   Team Members
{% endblock title %}

{% block content %}
<main>
   <div>
   <h1>{{department_object.name}}</h1>
      <div class="employee_description">
         {% for team_member in department_object.team_members.all %}
            <h3 class="name">{{ team_member.name }}</h3>
            <p class="title">{{ team_member.title}}</p>
            <p class="job-description">{{team_member.description}}</p>
            <img class="employee-picture"
            src="{{ team_member.picture }}"
         alt="team_member picture">
         {% endfor %}
      </div>

   </div>
</main>
{% endblock content %}
