{% extends 'base.html' %}

{% block title %}
    Department List
{% endblock title %}

{% block content %}
<main class = "department_list">
    <h1>Departments</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Department Head</th>
                    <th>Number of employees</th>
                </tr>
            </thead>
            <tbody>
                {% for department in department_list %}
                <tr>
                    <td>
                        <a href="{% url 'show_department' department.id %}">{{ department.name }}</a>
                    </td>
                    {% for team_member in department.team_members.all %}
                    {% if team_member.is_department_head %}
                    <td>{{ team_member.name }}</td>
                    {% endif %}
                    {% endfor %}
                    <td>{{ department.team_members.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
