{% extends 'base.html' %}

{% block title %}
    Search
{% endblock title %}


{% block content %}
<center>
    {% if searched %}
    <h1>You searched for {{searched}}</h1>
    <br/>
    {% for department in departments %}
    <a href="{% url 'show_department' department.id %}">{{ department }}</a><br/>
    {% endfor %}
    {% for team_member in team_members %}
    {{ team_member }}
    <a href="{% url 'show_department' team_member.department.id %}">{{ team_member.username }}</a><br/>
    {% endfor %}
    {% for project in projects %}
    <a href="{% url 'show_project' project.id %}">{{ project}}</a>
    {% endfor %}
    {% else %}
    <h1>Please search for a department, team member or project</h1>
    {% endif %}
</center>
{% endblock content %}
